In [1]:
import boto3
import sqlalchemy
from botocore.client import Config
import awswrangler as wr
import pandas as pd
import datetime
import numpy as np

s3_path = "s3://rating-store/ratings-pq"

boto_session = boto3.Session(aws_access_key_id='AKIAIOSFODNN7EXAMPLE',
                    aws_secret_access_key='wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY')
wr.config.s3_endpoint_url='http://minio1:9000'
wr.s3.does_object_exist(str("s3://rating-store/tweak1"), boto3_session=boto_session)

False

In [2]:
def date_range(start, end):
    previous_day = start - datetime.timedelta(days=6)
    r = (end+datetime.timedelta(days=1)-previous_day).days
    return [str(previous_day+datetime.timedelta(days=i)) for i in range(r)]
 
start = datetime.date(2021,4,10)
end = datetime.date(2021,4,20)
dateList = date_range(start, end)

def my_filter(partitions):
    return partitions['rating_date'] in dateList

def rating_total(row):
    return row['R1'] + row['R2'] + row['R3'] + row['R4'] + row['R5'];

def rating_total_L7d(row):
    return row['R1 L7D'] + row['R2 L7D'] + row['R3 L7D'] + row['R4 L7D'] + row['R5 L7D'];

def calculate_star_rating(row):
    """This function calculates the star rating of the given list with array positions as
    0 - 1 Star
    1 - 2 Stars
    2 - 3 Stars
    3 - 4 Stars
    4 - 5 Stars
    """
    rating_list = [row['R1 L7D'],row['R2 L7D'],row['R3 L7D'],row['R4 L7D'],row['R5 L7D']]
    stars = [1,2,3,4,5]
    return round(sum(list(map(lambda a,b: a*b, stars, rating_list))) / sum(rating_list), 2)

In [4]:
def date_range(self, start, end):
    previous_day = start - datetime.timedelta(days=6)
    r = (end + datetime.timedelta(days=1) - previous_day).days
    return [str(previous_day + datetime.timedelta(days=i)) for i in range(r)]

In [9]:
import datetime
date_str = '2021-04-10' # The date - 29 Dec 2017
format_str = '%Y-%m-%d' # The format
datetime_obj = datetime.datetime.strptime(date_str, format_str)
print(datetime_obj.date())
date_range(1,datetime_obj.date(),datetime_obj.date())

2021-04-10

['2021-04-04',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-10']

In [3]:
rating_df = wr.s3.read_parquet(path = s3_path, boto3_session=boto_session,dataset=True, partition_filter=my_filter)
rating_df

    R1  R2  R3  R4  R5 rating_date    store
0   10  20  30  40  50  2021-04-04  android
1   10  20  30  40  50  2021-04-04      íos
2   10  20  30  40  50  2021-04-05  android
3   10  20  30  40  50  2021-04-05      íos
4   10  20  30  40  50  2021-04-06  android
5   10  20  30  40  50  2021-04-06      íos
6   10  20  30  40  50  2021-04-07  android
7   10  20  30  40  50  2021-04-07      íos
8   10  20  30  40  50  2021-04-08  android
9   10  20  30  40  50  2021-04-08      íos
10  10  20  30  40  50  2021-04-09  android
11  10  20  30  40  50  2021-04-09      íos
12  10  20  30  40  50  2021-04-10  android
13  10  20  30  40  50  2021-04-10      íos
14  10  20  30  40  50  2021-04-11  android
15  10  20  30  40  50  2021-04-11      íos

In [5]:
## read the rating by filter
rating_df = wr.s3.read_parquet(path = s3_path, boto3_session=boto_session,dataset=True, partition_filter=my_filter)

## set index
rating_df.set_index('rating_date',inplace=True)
rating_df = rating_df.sort_index()

## agg ratings
agg_df = rating_df.groupby(['rating_date','store']).agg({'R1':'sum', 'R2':'sum', 'R3':'sum', 'R4':'sum', 'R5':'sum'})

## rolling last 7 days agg
_grouped = rating_df.groupby("store").rolling(7)['R1','R2','R3','R4','R5'].sum()
df_7d_sum = pd.DataFrame(_grouped)
df_7d_sum = df_7d_sum.dropna()

## rename ratings as L7D
df_7d_sum = df_7d_sum.rename(columns={"R1":"R1 L7D","R2":"R2 L7D","R3":"R3 L7D","R4":"R4 L7D","R5":"R5 L7D"})

## merge ratings and L7D ratings
result_df = agg_df.copy()
result_df = result_df.merge(df_7d_sum,left_index=True, right_index=True)

## derive avg and total
result_df['avg_rating L7D'] = result_df.apply(lambda row: calculate_star_rating(row), axis=1)
result_df['avg_rating'] = result_df.apply(lambda row: calculate_star_rating(row), axis=1)
result_df['total'] = result_df.apply(lambda row: rating_total(row), axis=1)
result_df['total L7D'] = result_df.apply(lambda row: rating_total_L7d(row), axis=1)

## derive enrichment flag
result_df['flag'] = np.where(result_df['avg_rating'] > result_df['avg_rating L7D'], 'Customer Rating Increased', 'Customer Rating Declined')

## filter required columns
final_df = result_df[['R1','R2','R3','R4','R5', 'total', 'total L7D', 'avg_rating', 'avg_rating L7D','flag']]

In [6]:
final_df

                     R1  R2  R3  R4  R5  total  total L7D  avg_rating  \
rating_date store
2021-04-10  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-11  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-12  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-13  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-14  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-15  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-16  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-17  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-18  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-19  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67
2021-04-20  android  10  20  30  40  50  150.0     1050.0        3.67
            ios      10  20  30  40  50  150.0     1050.0        3.67

                     avg_rating L7D                      flag
rating_date store
2021-04-10  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-11  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-12  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-13  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-14  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-15  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-16  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-17  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-18  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-19  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined
2021-04-20  android            3.67  Customer Rating Declined
            ios                3.67  Customer Rating Declined

In [7]:
import sqlalchemy  # Package for accessing SQL databases via Python

# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgresql://airflow:airflow@postgres/airflow")
con = engine.connect()


# Verify that there are no existing tables
print(engine.table_names())

['alembic_version', 'dag_pickle', 'import_error', 'job', 'dag', 'connection', 'log', 'sla_miss', 'slot_pool', 'task_instance', 'variable', 'xcom', 'task_fail', 'dag_run', 'task_reschedule', 'serialized_dag', 'dag_tag', 'rendered_task_instance_fields', 'dag_code', 'ab_permission', 'ab_permission_view', 'ab_view_menu', 'ab_permission_view_role', 'ab_role', 'ab_user', 'ab_user_role', 'ab_register_user', 'sensor_instance', 'celery_taskmeta', 'celery_tasksetmeta']

<ipython-input-7-4bd290934c96>:9: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [8]:
table_name = 'app_ratings'
final_df.to_sql(table_name, con)

In [9]:
print(engine.table_names())

['alembic_version', 'dag_pickle', 'import_error', 'job', 'dag', 'connection', 'log', 'sla_miss', 'slot_pool', 'task_instance', 'variable', 'xcom', 'task_fail', 'dag_run', 'task_reschedule', 'serialized_dag', 'dag_tag', 'rendered_task_instance_fields', 'dag_code', 'ab_permission', 'ab_permission_view', 'ab_view_menu', 'ab_permission_view_role', 'ab_role', 'ab_user', 'ab_user_role', 'ab_register_user', 'sensor_instance', 'celery_taskmeta', 'celery_tasksetmeta', 'app_ratings']

<ipython-input-9-7f622051bbf8>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [10]:
df = pd.read_sql_table(table_name, con)
print(df)

   rating_date    store  R1  R2  R3  R4  R5  total  total L7D  avg_rating  \
0   2021-04-10  android  10  20  30  40  50  150.0     1050.0        3.67
1   2021-04-10      ios  10  20  30  40  50  150.0     1050.0        3.67
2   2021-04-11  android  10  20  30  40  50  150.0     1050.0        3.67
3   2021-04-11      ios  10  20  30  40  50  150.0     1050.0        3.67
4   2021-04-12  android  10  20  30  40  50  150.0     1050.0        3.67
5   2021-04-12      ios  10  20  30  40  50  150.0     1050.0        3.67
6   2021-04-13  android  10  20  30  40  50  150.0     1050.0        3.67
7   2021-04-13      ios  10  20  30  40  50  150.0     1050.0        3.67
8   2021-04-14  android  10  20  30  40  50  150.0     1050.0        3.67
9   2021-04-14      ios  10  20  30  40  50  150.0     1050.0        3.67
10  2021-04-15  android  10  20  30  40  50  150.0     1050.0        3.67
11  2021-04-15      ios  10  20  30  40  50  150.0     1050.0        3.67
12  2021-04-16  android  10  20  30  40  50  150.0     1050.0        3.67
13  2021-04-16      ios  10  20  30  40  50  150.0     1050.0        3.67
14  2021-04-17  android  10  20  30  40  50  150.0     1050.0        3.67
15  2021-04-17      ios  10  20  30  40  50  150.0     1050.0        3.67
16  2021-04-18  android  10  20  30  40  50  150.0     1050.0        3.67
17  2021-04-18      ios  10  20  30  40  50  150.0     1050.0        3.67
18  2021-04-19  android  10  20  30  40  50  150.0     1050.0        3.67
19  2021-04-19      ios  10  20  30  40  50  150.0     1050.0        3.67
20  2021-04-20  android  10  20  30  40  50  150.0     1050.0        3.67
21  2021-04-20      ios  10  20  30  40  50  150.0     1050.0        3.67

    avg_rating L7D                      flag
0             3.67  Customer Rating Declined
1             3.67  Customer Rating Declined
2             3.67  Customer Rating Declined
3             3.67  Customer Rating Declined
4             3.67  Customer Rating Declined
5             3.67  Customer Rating Declined
6             3.67  Customer Rating Declined
7             3.67  Customer Rating Declined
8             3.67  Customer Rating Declined
9             3.67  Customer Rating Declined
10            3.67  Customer Rating Declined
11            3.67  Customer Rating Declined
12            3.67  Customer Rating Declined
13            3.67  Customer Rating Declined
14            3.67  Customer Rating Declined
15            3.67  Customer Rating Declined
16            3.67  Customer Rating Declined
17            3.67  Customer Rating Declined
18            3.67  Customer Rating Declined
19            3.67  Customer Rating Declined
20            3.67  Customer Rating Declined
21            3.67  Customer Rating Declined